@page
@model Channel365.Web.Areas.Admin.Pages.Playlists.ManageModel
@{
}
<div>
    <h1 style="color:orange" class="navbar-brand">Manage Playlists</h1>
    <div id="alert-status-msg" class="alert alert-success alert-dismissible collapse" role="alert">
        <p id="status-msg"></p>
        <button id="alert-close" class="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<hr />

<div class="row appendage">
    @foreach (var playlist in Model.Playlists)
    {
        <div id="@playlist.PlaylistId" class="media col-12">
            <img class="pl-img mr-3" src="@Url.Content("~/pic/placeholder/playlist_cover.png")" alt="Video Thumbnail">
            <div class="media-body">
                <h5 class="mt-0">@playlist.PlaylistName</h5>
                <p>@playlist.PlaylistDesc</p>

                <p class="text-muted">Creator: <a asp-page="/Users/Manage" asp-fragment="@playlist.ApplicationUser.Id"> @playlist.ApplicationUser.UserName </a> </p>
                <small>@playlist.VideosInPlaylists.Count() Videos &bull; @playlist.PlaylistVisibility</small>
                <div class="mt-2 d-block">
                    <button type="button" class="btn btn-sm btn-outline-warning edit-btn" data-toggle="modal" data-target="#EditModal">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-warning delete-btn" data-toggle="modal" data-target="#DeleteModal">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                    <input class="pl-id-storage" type="hidden" value="@playlist.PlaylistId" />
                    <input class="pl-title-storage" type="hidden" value="@playlist.PlaylistName" />
                    <input class="pl-desc-storage" type="hidden" value="@playlist.PlaylistDesc" />
                    <input class="pl-visibility-storage" type="hidden" value="@playlist.PlaylistVisibility" />
                </div>
            </div>
        </div>
    }
</div>


<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="delModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delModal">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><u><strong class="display-pl-title"></strong></u> will be permanently removed.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-outline-warning modal-del-btn">Delete</button>
                <input class="pl-id-send" type="hidden" name="id" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="edtModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="edtModal">Edit playlist details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="edt-pl-title" class="col-form-label">Edit Name</label>
                        <input id="edt-pl-title" class="form-control" type="text" placeholder="Playlist Name Here" />
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Description</span>
                        </div>
                        <textarea id="edt-pl-desc" class="form-control" aria-label="Description"></textarea>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input publ" type="radio" name="visibility" id="visibilityPublic" value="2000">
                        <label class="form-check-label" for="visibilityPublic">Public</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input priv" type="radio" name="visibility" id="visibilityPrivate" value="1000">
                        <label class="form-check-label" for="visibilityPrivate">Private</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input unlist" type="radio" name="visibility" id="visibilityUnlisted" value="3000">
                        <label class="form-check-label" for="visibilityUnlisted">Unlisted</label>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="edt-submit" type="button" class="btn btn-secondary">Edit</button>
                        <input id="edt-id-send" type="hidden" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@Html.AntiForgeryToken()


<style>
    body {
        margin-top: 5rem;
    }

    #alert-status-msg {
        padding: 0;
    }

    #status-msg {
        font-weight: bold;
        padding: 0.75rem 0.25rem;
        margin: 0;
    }

    hr {
        border-color: dimgrey;
        margin-bottom: 5rem;
    }

    .media {
        max-height: 200px;
        margin-bottom: 3rem;
        transition: max-height 0.25s ease-in-out, margin-bottom 0.25s linear;
        overflow: hidden;
    }

        .media p {
            /* Text under videos title */
            margin-bottom: 0.3rem;
        }

    .pl-img {
        max-width: 200px;
        /*max-height: 133px;*/
    }

    .modal-content {
        background-color: #2c3544;
    }

    .modal-header,
    .modal-footer {
        border-color: #515354;
    }
</style>

@section Scripts {
    <script>
        $(function () {
            let searchbox = $('#admin-search');
            let deleteModal = $('.modal-del-btn');
            let editModal = $('#edt-submit');
            let closeAlert = $('#alert-close');
            let appendage = $('.appendage');

            let statusMessageDiv = $('#alert-status-msg');
            let rvt = $('input[name="__RequestVerificationToken"]').val();

            let searchUrl = '/Admin/Playlists/Manage?handler=FindMatch';
            let delUrl = '/Admin/Playlists/Manage?handler=Delete';
            let edtUrl = '/Admin/Playlists/Manage?handler=Edit';

            searchbox.removeClass('hide');
            searchbox.prop("placeholder", "Search video...");

            $('.appendage').on('click', '.delete-btn', function (e) {
                e.preventDefault();

                let plName = $(this).siblings('.pl-title-storage').val();
                let plId = $(this).siblings('.pl-id-storage').val();

                $('.display-pl-title').text(plName);
                $('.pl-id-send').val(plId);
            });

            $('.appendage').on('click', '.edit-btn', function (e) {
                e.preventDefault();

                // Store current ones
                let plId = $(this).siblings('.pl-id-storage').val();
                let plName = $(this).siblings('.pl-title-storage').val();
                let plDesc = $(this).siblings('.pl-desc-storage').val();
                let plVis = $(this).siblings('.pl-visibility-storage').val();

                // Set current ones
                $('#edt-pl-title').prop('placeholder', plName);
                $('#edt-pl-title').val(plName);

                $('#edt-pl-desc').prop('placeholder', plDesc);
                $('#edt-pl-desc').val(plDesc);

                switch (plVis) {

                    case "Private":
                        $('.priv').prop("checked", true);
                        break;

                    case 'Public':
                        $('.publ').prop("checked", true);
                        break;

                    case 'Unlisted':
                        $('.unlist').prop("checked", true);
                        break;
                }

                $('#edt-id-send').val(plId);

            });


            searchbox.keyup(function (e) {
                e.preventDefault();

                $.ajax({
                    type: "GET",
                    url: searchUrl,
                    data: { search: searchbox.val() },
                    contentType: "application/json; charset=utf-8",

                    dataType: "json",

                    success: function (response) {

                        let playlists = response;

                        appendage.empty();

                        if (playlists.length > 0) {
                            for (var i = 0; i < playlists.length; i++) {

                                appendage.append(`
                                    <div id="`+ playlists[i].playlistId +`" class="media col-12">
                                        <img class="pl-img mr-3" src="../../pic/placeholder/playlist_cover.png" alt="Video Thumbnail">
                                        <div class="media-body">
                                            <h5 class="mt-0">`+ playlists[i].playlistName +`</h5>
                                            <p>`+ (playlists[i].playlistDesc !== null ? playlists[i].playlistDesc : '' )+`</p>

                                            <p class="text-muted">Creator: <a href="/Admin/Users/Manage`+ playlists[i].applicationUser.id + `"> ` + playlists[i].applicationUser.userName +` </a> </p>
                                            <small>`+ playlists[i].videosInPlaylists.length + ` Videos &bull; ` + printVisibility(playlists[i].playlistVisibility) +`</small>
                                            <div class="mt-2 d-block">
                                                <button type="button" class="btn btn-sm btn-outline-warning edit-btn" data-toggle="modal" data-target="#EditModal">
                                                     <i class="fas fa-pencil-alt"></i>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-outline-warning delete-btn" data-toggle="modal" data-target="#DeleteModal">
                                                     <i class="fas fa-trash-alt"></i>
                                                </button>
                                                <input class="pl-id-storage" type="hidden" value="`+ playlists[i].playlistId +`" />
                                                <input class="pl-title-storage" type="hidden" value="`+ playlists[i].playlistName +`" />
                                                <input class="pl-desc-storage" type="hidden" value="`+ playlists[i].playlistDesc +`" />
                                                <input class="pl-visibility-storage" type="hidden" value="`+ printVisibility(playlists[i].playlistVisibility) +`" />
                                            </div>
                                        </div>
                                    </div>`);
                            }
                        }
                        else {
                            appendage.append('<h3>No matches found...</h3>');
                        }
                    }
                });
            });

            deleteModal.click(function (e) {
                e.preventDefault();

                statusMessageDiv.collapse('hide');

                $.ajax({
                    type: "POST",
                    url: delUrl,
                    data: {
                        __RequestVerificationToken: rvt,
                        id: $('.pl-id-send').val()
                    },

                    dataType: "json",

                    success: function (response) {
                        let id = response.split(' ');

                        $('#DeleteModal').modal('hide');

                        $('#DeleteModal').one('hidden.bs.modal', function (e) {

                            $('#' + id[0]).css('max-height', '0');
                            $('#' + id[0]).css('margin-bottom', '0');

                            setTimeout(() => {
                                $('#status-msg').html(response);

                                statusMessageDiv.collapse('toggle');

                                statusMessageDiv.on('shown.bs.collapse', function () {
                                    $(window).scrollTop(0);
                                })

                            }, 550);
                        });
                    },
                    error: function (response) {
                        console.log('error: ' + response);
                    }
                });
            });

            editModal.click(function (e) {
                e.preventDefault();

                statusMessageDiv.collapse('hide');

                $.ajax({
                    type: "POST",
                    url: edtUrl,
                    data: {
                        __RequestVerificationToken: rvt,
                        id: $('#edt-id-send').val(),
                        playlistName: $('#edt-pl-title').val(),
                        playlistDesc: $('#edt-pl-desc').val(),
                        visibility: $('input[name="visibility"]:checked').val()
                    },
                    dataType: 'json',

                    success: function (response) {
                        let id = response.split(' ')[0];
                        console.log(id);
                        $('#EditModal').modal('hide');
                        $('#EditModal').one('hidden.bs.modal', function (e) {

                            $('#' + id).css("max-height", "0");
                            $('#status-msg').html(response);

                            setTimeout(function () {
                                $.get(
                                    '/Admin/Playlists/Manage?handler=ReturnEdited',
                                    { id: id },
                                    function (result) {
                                        let playlist = result;

                                        var content = $(`
                                        <img class="pl-img mr-3" src="../../pic/placeholder/playlist_cover.png" alt="Video Thumbnail">
                                        <div class="media-body">
                                            <h5 class="mt-0">`+ playlist.playlistName + `</h5>
                                            <p>`+ (playlist.playlistDesc !== null ? playlist.playlistDesc : '') + `</p>

                                            <p class="text-muted">Creator: <a href="/Admin/Users/Manage`+ playlist.applicationUser.id + `"> ` + playlist.applicationUser.userName + ` </a> </p>
                                            <small>`+ playlist.videosInPlaylists.length + ` Videos &bull; ` + printVisibility(playlist.playlistVisibility) + `</small>
                                            <div class="mt-2 d-block">
                                                <button type="button" class="btn btn-sm btn-outline-warning edit-btn" data-toggle="modal" data-target="#EditModal">
                                                     <i class="fas fa-pencil-alt"></i>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-outline-warning delete-btn" data-toggle="modal" data-target="#DeleteModal">
                                                     <i class="fas fa-trash-alt"></i>
                                                </button>
                                                <input class="pl-id-storage" type="hidden" value="`+ playlist.playlistId + `" />
                                                <input class="pl-title-storage" type="hidden" value="`+ playlist.playlistName + `" />
                                                <input class="pl-desc-storage" type="hidden" value="`+ playlist.playlistDesc + `" />
                                                <input class="pl-visibility-storage" type="hidden" value="`+ playlist.playlistVisibility + `" />
                                            </div>
                                        </div>`);

                                        $('#' + id).html(content);
                                    },
                                    'json'
                                );

                                setTimeout(function () {
                                    $('#' + id).css("max-height", "200" + "px");

                                    setTimeout(() => {
                                        statusMessageDiv.collapse('toggle');
                                    }, 500);

                                }, 100);

                            }, 350);
                        });
                    }
                });

            });

            closeAlert.click(function (e) {
                e.preventDefault();
                statusMessageDiv.collapse('hide');
            });

            function printVisibility(visibility) {
                let vis;

                switch (visibility) {
                    case 1000:
                         vis = 'Private';
                        break;

                    case 2000:
                        vis = 'Public';
                        break;

                    case 3000:
                        vis = 'Unlisted';
                        break;
                }
                return vis
            }
        });
    </script>
}